body {
    margin: 0 auto;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr,
table th,
table td {
    border: 1px solid #000;
}

table .capacity {
    font-weight: 600;
    font-size: 20px;
}

.capacity label {
    margin-left: 10px;
}

table td.checkbox {
    text-align: center;
    vertical-align: middle;
}

.form-submit {
    border: 1px solid #fff;
    padding: 10px 10px 10px 10px;
}

.form-submit label {
    font-size: 20px;
}

.btn-submit {
    width: 120px;
    height: 40px;
    background: #2c0055;
    border-radius: 2px;
    z-index: 3;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    border: 1px solid #ced6e0;
    transition: all 1s ease-in-out;
}

.person {
    width: 100%;
    border: 2px solid #ced6e0;
    border-radius: 10px;
    font-size: 20px;
}

.person-label {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #1a3b5d;
    width: 100%;
    display: block;
    user-select: none;
}

.person-input {
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    box-shadow: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person-input:focus,
person-input:active {
    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
    outline: none !important;
}

.person-input.disabled {
    background: #ced6e0;
}

select {
    height: 50px;
    width: 400px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
    background: initial;
}

select:focus,
select:active {
    border-color: #3d9cff;
    outline: none !important;
}

.list-student-info {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.list-student-info td,
.list-student-info th {
    border: 1px solid #ddd;
    padding: 8px;
}

.list-student-info tr:nth-child(even) {
    background-color: #f2f2f2;
}

.list-student-info tr:nth-child(odd) {
    background-color: #ddd;
}

.list-student-info tr:hover {
    background-color: #ddd;
}

.list-student-info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.action-value {
    margin-left: 30px;
}

.info-student,
.student-point {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.student-name,
.student-id,
.student-address,
.student-evaluate {
    font-size: 20px;
    margin-bottom: 20px;
}

td a {
    text-decoration: none;
}

.no-data {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

nav.primary-navigation {
    margin: 0 auto;
    display: block;
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #3ca0e7;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}

nav.primary-navigation li a {
    color: black;
}

nav.primary-navigation li a:hover {
    color: #3ca0e7;
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}
.dropdown {
    z-index: 10;
}
a {
    text-decoration: none;
}

a:hover {
    color: #3ca0e7;
}

ul li ul li a {
    transition: all 0.5s ease;
}

.login .wrapper {
    background: initial;
    /* background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%); */
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    overflow: hidden;
}

.login .wrapper.form-success .container h1 {
    transform: translateY(85px);
}

.login .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}

.login .container h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

.login form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.login form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

.login form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.login form input:focus {
    background-color: white;
    width: 500px;
    color: #53e3a6;
}

.login form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

.login form button:hover {
    background-color: #f5f7f9;
}

.login .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.login .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.login .bg-bubbles li:nth-child(1) {
    left: 10%;
}

.login .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
}

.login .bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
}

.login .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}

.login .bg-bubbles li:nth-child(5) {
    left: 70%;
}

.login .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}

.login .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
}

.login .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
}

.login .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}

.login .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
}

@-webkit-keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

.error {
    color: red;
}

.show-password {
    position: absolute;
    top: 46%;
    left: 75%;
}
.navbar-global {
    background-color: indigo;
  }
  
  .navbar-global .navbar-brand {
    color: white;
  }
  
  .navbar-global .navbar-user > li > a
  {
    color: white;
  }
  
  .navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 51px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .glyphicon {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 20px;
      text-align: center;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }
  
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
  }
  
  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
  }
  
  .navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  
  .navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
  }
  
  .navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
  }
  
  .main-content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
  }
  
  .collapsed + .main-content {
    margin-left: 60px;
  }